

body{
    background-color: rgba(194, 237, 250, 0.966);
}
@media (max-width:400px){
    body{
        font-size: 0.95rem;
    }
}
.footer{
    background-color: rgb(68, 63, 63);
    color: honeydew;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-bottom{
    margin-top: 30px;
}

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    width: 100%;
    z-index: 10;
    margin-bottom:10px ;
    font-size: 1.3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


}
.nav-link{
    color:honeydew;
    margin: 0px;
}

.nav-link:hover{
    color: black;
 
}
.dropdown-menu{
    background-color: cornflowerblue;
    border: none;
    color: white;
    border-radius: 0px;
}
.dropdown-item{
    color: honeydew;
    
}

.shortcut-nav-container{
    display: flex;
    justify-content: center;
}
.shortcut-nav{
    background-color: darkcyan;
    margin: 30px;
    padding: 20px;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}

.shortcut-nav:hover{
    background-color: wheat;
    transform: translateY(8px);
    color: black;
}
.shortcut-nav-link{
    color: white;

}

.shortcut-nav-link:hover{
    text-decoration: none;
    color: black;

}




.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    

}



footer{
    background-color: darkcyan;
    height: auto;
    padding: 40px;
    padding-top: 100px;
    color: rgb(244, 248, 204);
    padding-bottom: 20px;
    margin-top: 100px;
}
.cont_icon{
    transition: transform 0.3s ease-out;

}
.cont_icon:hover{
    transform: translateY(5px);
    color: rgb(1, 71, 71);
}
.link_ozed{
    text-decoration: none;
    color: black;
}

.link_ozed:hover{
    text-decoration: none;
    color: cornsilk;
}
.contact_link{
    transition: transform 0.3s ease-out;
    margin-top: 20px;
    
    margin-left: 15px;
    
}

.contact_link:hover{
    transform: rotateY(180deg);
    color: rgb(1, 71, 71);
}

@media (max-width:500px){
    footer{
        height: auto;
    }
}

.prod-name{
    text-align: center;
}

/*model view */
.modal-header{
    background-color:darkcyan;
    color: rgb(244, 248, 204);
    padding: 6px;
    padding-left: 20px;
    padding-top: 15px;

}
.modal-header .close{
    background-color: ivory;
    border-radius: 3px;
    
}
.modal-header .close span{
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;

}

.modal-body{
 background-color: rgba(194, 243, 243, 0.719);
}
.carousel-inner{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.s_product_text{
    border-top: 3px solid brown;
}

.s_product_text p{
    text-align: justify;
    padding: 10px;
    padding-left: 5px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
    background-color: whitesmoke;

}
#myTab{
 border: none;
 display: flex;
 justify-content: center;
}
#myTabContent{
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.modal-nv-link{
    background-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    transition: transform 0.3s ease-out;
}

.modal-nv-link:hover{
    transform: translateY(5px);
}


/*product_page*/



#product_filter select{
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    background-color: lightpink;
}


/*model*/
.relevent_items{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
.relevent_items_header{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;

}
.item{
    background-color: honeydew;
    width: 100px;
    height: auto;
    margin: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;

}

.item:hover{
    cursor: pointer;
}
/*filter_main_page*/


.men_prod_nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: -35px;
    justify-content: space-around; 

}
.men_prod_nav ul li{
    background-color: darkcyan;
    color: honeydew;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;


}
.men_prod_nav ul li:hover{
    background-color: honeydew;
    color: darkcyan;
    cursor: pointer;
}

#listing_shirt li:hover{
    background-color: honeydew;
    color: black;
    cursor: pointer;
}
#listing_shirt{
    background-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.filter_bar{
    background-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
#product_filter{
    background-color: honeydew;
    padding: 8px;
    justify-content: space-around;

}